.form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: rgb(38, 12, 44);
  border-radius: 5px;
  gap: 12px;

  input {
    font-size: 16px;
    color: white;
    display: block;
    background-color: rgb(25, 7, 29);
    outline: 0;
    border: 1px solid rgb(14, 4, 16);
    max-width: 100%;
    padding: 12px;
    flex-grow: 1;

    @media screen and (min-width: 528px) {
      flex-basis: 45%;
    }
  }

  button {
    margin-top: 30px;
    width: 100%;
    max-width: 360px;
    padding: 12px;

    @media screen and (min-width: 528px) {
      flex-basis: 45%;
    }
  }
}
